@import "variables.scss";

:host {
 height: 100%;
}

.wrapper {
  flex-direction: column;
  height: 100%;
}

.swiper-container {
  z-index: 1;
  width: 100%;
  height: pxToRem(450px);
  margin-top: pxToRem(50px);
}
