<div class="wrapper">
    <app-swiper
        [slidesData]="itemsForSale$ | async"
        class="swiper-container"
    ></app-swiper>
    <h2>Популярные товары:</h2>
    <app-nested-swiper
        [slidesData]="itemsPopular$ | async"
        class="swiper-container"
    ></app-nested-swiper>
    <h3>Описание приложения:</h3>
    <p class="app-description">
        Приложение является упрощённой версией онлайн магазина. В нём реализованы поиск по
        товарам, категориям и подкатегориям, навигация, доступен функционал корзины,
        избранного и листа ожидания. Есть возможность залогиниться или зарегистрировать
        нового пользователя.
        <b
            >Обращаю ваше внимание, на то, что после регистрации чтобы авторизоваться
            необходимо ввести логин и пароль, придуманные вами при регистрации.</b
        ><br><br>
        На главной странице есть два слайдера: один - с акционными товарами, другой - с
        популярными. Товары из слайдеров отмечаются соответствующими значками во всем
        приложении.<br><br>
        На страницах категорий и подкатегорий доступна сортировка в двух направлениях по
        цене и популярности. Также доступна частичная загрузка товаров.<br><br>
        В качестве дополнительного функционала реализованы блок с навигацией по
        подкатегориям на странице категорий, переход на главную страницу при выходе из
        профиля если открыта страница корзины, избранного или лист ожидания, а также
        реализовано всплывающее окно с просьбой об авторизации, если неавторизованный
        пользователь пытается добавить товар в избранное, или корзину. При оформлении
        заказа есть проверка на количество доступных единиц товара, если его меньше чем
        вводит пользователь - выставится максимальное доступное в наличии кол-во товара
        при потере фокуса с поля, либо если увеличение происходит переключателем - то
        кол-во товара просто не увеличится. Также если у товара нет фото, то вставляется
        стандартная картинка.
        <br>
        В приложении использована только одна библиотека для свайперов. Все остальные
        элементы написаны с нуля, в т.ч. модальные окна и выпадающие списки.
        <br>
        Тесты написаны для дропдауна, 2 свайперов и сервиса сортировки - всего 13 штук.
        <br>
        P.S. Местоположение определяется по ip (согласно ТЗ), поэтому город может
        определиться не точно, просьба баллы за это не снижать, тут уж ничего не
        поделаешь, это зависит от провайдера.
    </p>
    <h3>Демо:</h3>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/UXrxyJLvwOM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
</div>
