<swiper
    [slidesPerView]="6"
    [slidesPerGroup]="6"
    [grid]="{
        rows: 2
    }"
    [autoHeight]="true"
    [spaceBetween]="30"
    [navigation]="true"
    class="mySwiper"
>
    <ng-template swiperSlide *ngFor="let slide of slidesData" class="slide">
        <div class="popular"></div>
        <img
            [src]="slide.imageUrls[0]"
            class="popular-item-img"
            (click)="navigate(slide.id)"
        />
        <div class="rating-stars" appFeedBackStars [rating]="slide.rating"></div>
        <div class="popular-item-name">{{ slide.name }}</div>
        <div class="popular-item-price">
            {{ slide.price | currency: "BYN":"symbol":".2-2" }}
        </div>
    </ng-template>
</swiper>
