<swiper
    [slidesPerView]="6"
    [slidesPerGroup]="6"
    [grid]="{
      rows: 2
    }"
    [autoHeight]="true"
    [spaceBetween]="30"
    [navigation]="true"
    [pagination]="pagination"
    class="mySwiper"
  >
    <ng-template swiperSlide *ngFor="let slide of slidesData" class="slide">
        <img [src]='slide.imageUrls[0]' class="popular-item-img">
        <div class="rating-stars" appFeedBackStars
        [rating]="slide.rating"></div>
        <div class="popular-item-name">{{ slide.name }}</div>
        <div class="popular-item-price">{{ slide.price | currency:'BYN':'symbol':'.2-2' }}</div>
    </ng-template>
  </swiper>
