<div class="wrapper">
    <div class="breadcrumbs">
        <a [routerLink]="" routerLinkActive="active">{{ categoryName }}</a>
    </div>
    <h2 class="category-title">{{ categoryName }}</h2>
    <aside class="aside-bar">
        <div class="links-container">
            <a *ngFor="let subCategory of subCategories" [routerLink]="[subCategory.id]">{{ subCategory.name }}</a>
        </div>
    </aside>
    <div class="sort">
        Сортировать по:
        <div (click)="sortChange('price')" class="sort-type">цене</div>
        <div (click)="sortChange('rating')" class="sort-type" id="rating">
            популярности
        </div>
    </div>
    <div class="items-container">
        <app-item *ngFor="let item of items" [value]="item"></app-item>
    </div>
    <button
        [class.unactive-btn]="isActiveBtn()"
        class="next-items-load"
        (click)="loadMoreItems()"
    >
        Показать больше
    </button>
</div>
