@import "variables.scss";

.wrapper {
    flex-direction: column;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: pxToRem(40px);
    -webkit-row-gap: pxToRem(40px);
    column-gap: pxToRem(40px);
    -webkit-column-gap: pxToRem(40px);
}

.breadcrumbs {
    margin-top: pxToRem(5px);
    font-size: 0.8rem;
}

a {

    color: $link-color;
}

h2 {
    margin: pxToRem(20px) auto;
    color: $secondary-background;
    font-family: $base-font-family;
}

.next-items-load {
    display: flex;
    width: 50%;
    height: pxToRem(50px);
    margin: pxToRem(20px) auto;
    justify-content: center;
    align-items: center;
    border-radius: pxToRem(5px);
    background: $body-background-color;
    box-shadow: 0 4px 12px 0 rgb(41 44 51 / 12%), 0 2px 2px 0 rgb(41 44 51 / 4%);
    color: $secondary-background;
    font-family: $base-font-family;
    cursor: pointer;
    border: none;
    outline: none;


}

.next-items-load:hover {
    box-shadow: 10px 12px 54px rgb(23 35 38 / 25%);
}

.unactive-btn {
    background: $button-disabled-color;
    color: black;
    opacity: 0.3;
    box-shadow: none;

    &:hover {
        box-shadow: none;
    }
}

.sort {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 margin: pxToRem(20px) auto;
 font-size: 0.8rem;
}

.sort-type {
    display: flex;
    border-radius: pxToRem(5px);
    background: $body-background-color;
    margin-right: pxToRem(10px);

 padding: pxToRem(4px);
    color: $link-color;
    cursor: pointer;
}

.sort-type::before,
.sort-type::after {
    display: flex;
    align-self: center;
    content: "";
    width:  pxToRem(4px);
    height: pxToRem(4px);
    margin: 0 pxToRem(4px);
    border-radius: pxToRem(4px);
    opacity: 0.2;
    background: black;
}

.aside-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: $base-font-family;
    font-size: 0.8rem;
}

.links-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.aside-bar a {
    display: flex;
    padding: pxToRem(4px);
    text-align: center;

    &:hover {
        color: $background-header-text-hover;
    }
}

@media (max-width: 640px) {
    * {
        font-size: 0.6rem;
    }

    .sort {
        font-size: 0.5rem;
    }
  }
