<footer>
    <div class="wrapper">
    <ul class="footer-contacts">
        <li>
            <a href="tel:+375 29 302 00 00">
                <img
                    src="assets/images/a1-icon.png"
                    class="icon"
                    alt=""
                />+375 29 302 00 00</a
            >
        </li>
        <li>
            <a href="tel:+375 25 302 00 00"
                ><img
                    src="assets/images/life-icon.png"
                    class="icon"
                    alt=""
                />+375 25 302 00 00</a
            >
        </li>
        <li>
            <a href="tel:+375 17 302 00 00"
                ><img
                    src="assets/images/phone-icon.png"
                    class="icon"
                    alt=""
                />+375 17 302 00 00</a
            >
        </li>
        <li> <a
            href="https://www.viber.com/21vek.by"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="assets/images/viber-icon.png" class="icon" alt="" />
            Viber</a
        ></li>
        <li>
            <a
                href="http://t.me/e21vekbot"
                target="_blank"
                rel="noopener noreferrer"
                ><img
                    src="assets/images/telegram-icon.png"
                    class="icon"
                    alt=""
                />Telegram</a
            >
        </li>
        <li>
            <a href="mailto:21@21vek.by" rel="noopener noreferrer"
                ><img
                    src="assets/images/mail-icon.png"
                    class="icon"
                    alt=""
                />Почта</a
            >
        </li>
        <li>
            <a href="mailto:21@21vek.by" rel="noopener noreferrer"
                ><img
                    src="assets/images/message-icon.png"
                    class="icon"
                    alt=""
                />Написать нам</a
            >
        </li>
    </ul>
</div>
<ul class="icons-footer">
    <a href="" class="footer-contacts-icon vk-icon"></a>
    <a href="" class="footer-contacts-icon facebook-icon"></a>
    <a href="" class="footer-contacts-icon instagram-icon"></a>
    <a href="" class="footer-contacts-icon youtube-icon"></a>
    <a href="" class="footer-contacts-icon odnoklassniki-icon"></a>
</ul>
</footer>
