@import "variables.scss";

:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: pxToRem(10px);
    padding: pxToRem(10px) 0;
}

.nav-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: pxToRem(120px);
    height: pxToRem(42px);
    margin-right: pxToRem(8px);
    padding-right: pxToRem(18px);
    border: 1px solid $header-border-color;
    border-radius: pxToRem(40px);
    background-color: $background-light;
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: pxToRem(20px);
    cursor: pointer;

    &:hover {
        background-color: $white;
    }
}

.basket-btn {
    background-image: url("../../../../assets/images/basket-icon.svg");
}

.catalog-btn {
    min-width: pxToRem(160px);
}

.account-btn {
    position: relative;
    background-image: url("../../../../assets/images/cabinet-icon.svg");
}

.circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: pxToRem(2px);
    padding: pxToRem(4px);
    width: pxToRem(24px);
    height: pxToRem(24px);
    margin-right: pxToRem(10px);
    border-radius: 50%;
    background: $secondary-background;

    .square {
        background: $white;
        width: pxToRem(6px);
        height: pxToRem(6px);
    }
}

.search-form {
    display: flex;
    align-items: center;
    background-color: $white;
    width: 50%;
    height: pxToRem(42px);
    border-radius: pxToRem(50px);
    box-shadow: 0 2px 4px rgb(23 35 38 / 5%);

    .icon {
        margin: 0 pxToRem(10px);
        opacity: 0.5;
    }
}

.search-input {
    border-radius: pxToRem(50px);
    outline: none;
    border: none;
    height: 100%;
    width: calc(100% - 30px);
}

a:hover {
    color: $background-header-text-hover;
}

.profile-icon {
    margin: 0 auto;
    width: pxToRem(60px);
    height: auto;
}

@media (max-width: 640px) {
    * {
        font-size: 0.6rem;
    }
}
