<div class="wrapper">
    <div class="breadcrumbs">
        <a [routerLink]="['/goods/category', good.category]" routerLinkActive="active">{{
            categoryName
        }}</a
        > 〉 <a [routerLink]="['/goods/category', good.category, good.subCategory]" routerLinkActive="active">{{
            subCategoryName
        }}</a
        > 〉 <a [routerLink]="" routerLinkActive="active">{{ good.name }}</a>
    </div>
    <h2 class="category-title">{{ good.name }}</h2>
    <div class="item-info" appOnSaleOrPopular [item]="good">

    <app-gallery-swiper [images]="good.imageUrls" class="gallery-swiper-container"></app-gallery-swiper>
        <div class="rating-stars" appFeedBackStars [rating]="good.rating"></div>
<div class="amount" appAmount [amount]="good.availableAmount"></div>
<div class="price">{{ good.price | currency: "BYN":"symbol":".2-2" }}</div>
<button class="add-to-basket-btn">В корзину</button>
<button class="add-to-favourite-btn" appIsfavourite [item]="good" (click)="workWithFavourite(good.id)"></button>

<h3 class="description-title">О товаре:</h3>
<div class="description">
    {{ good.description }}
</div>
    </div>
</div>
