$base-font-size: 16px;

@function pxToRem($size) {
    @return ($size / $base-font-size) + rem;
}

$background-header-secondary-hover: rgb(239, 169, 192);
$background-light: #f7f8fa;
$secondary-background: #e52e6b;
$background-header-text-hover: #c22458;
$header-border-color: rgb(209, 209, 209);
$header-background-color: #f7f8fa;
$body-background-color: #f7f8fa;
$white: #ffffff;
$link-color: #07c;
$button-login-hover-background: #006ebd;
$login-button-background: #0077CC;
$text-color-primary: #000000;
$base-font-family: Arial, sans-serif;
$font-size-header-base: pxToRem(14px);
$font-size-header-small: pxToRem(12px);
